{
  "env": {
    "node": true,
    "browser": true,
    "amd": true,
    "es6": true
  },
  "globals": {
    "p5": true
  },
  "root": true,
  "extends": ["eslint:recommended", "prettier"],
  "plugins": ["prettier"],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "rules": {
    "prettier/prettier": ["error"],
    "no-cond-assign": [2, "except-parens"],
    "eqeqeq": ["error", "smart"],
    "no-use-before-define": [
      2,
      {
        "functions": false
      }
    ],
    "new-cap": 0,
    "no-caller": 2,
    "no-undef": 0,
    "no-unused-vars": ["error", { "args": "none" }],
    "no-empty": ["error", { "allowEmptyCatch": true }],
    "no-console": "off"
  }
}
