!*.gitkeep

.nyc_output/*
# .vscode/settings.json
# optional local preferences for vscode
local.code-workspace

node_modules/*

analyzer/
bower-repo/
coverage/
examples/3d/
experiments/*
dist/
docs/reference/*
docs/data.json
lib_old/*
lib/p5.*
lib/p5-test.js
lib/modules
p5-website/
preview/
release/
__screenshots__/

*.d.ts
p5.zip
yarn.lock

docs/data.json
analyzer/
preview/
__screenshots__/
actual-screenshots/
visual-report.html

todo.md

*.DS_Store
.idea
.project

