/*#selector{
    font-size:20px;
    -webkit-border-radius: 0px;
    -webkit-box-shadow: 0 0 0px #000;
    background: white;
    text-transform: uppercase; 
    -webkit-border-radius: 0px;
  }
#selector option{
   font-family: 'Roboto', sans-serif;
   font-size:20px;
   text-transform: uppercase; 
}*/
#title{
  width:250px;
  height:33px;
  text-transform: uppercase; 
  text-align: left;
  font-family: 'Roboto', sans-serif;
  font-weight:400;
  font-size:18px;
  background-color: #6089C6;
  -webkit-border-radius: 0px;
}
#pattern{
  color:white;
  width:300px;
  position: absolute; 
  top: -12px;
  left:10px;
}
.text{
  text-transform: uppercase; 
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  line-height: 21px;
}
#rangeName{
  text-align: right;
  font-weight:700;
  font-size:18px;
}
#value{
  text-align: left;
  line-height: 28px;
}

#temperature {
  position: absolute; 
  top: 5px; 
  left: 0px;
}
#sky{
  position: absolute; 
  top: 48px; 
  left: 0px
}
#windDirection{
  position: absolute; 
  top: 91px; 
  left: 0px
}
#windSpeed {
  position: absolute; 
  top: 134px; 
  left:0px;
}
#snow{
  position: absolute; 
  top: 175px; 
  left: 0px
}
#rain{
  position: absolute; 
  top: 215px; 
  left: 0px
}
#cloud{
  position: absolute; 
  top: 258px; 
  left: 0px
}
#star{
  position: absolute; 
  top: 301px; 
  left: 0px
}
 
#temperature {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#02000d),
    color-stop(25%,#1a558f),
    color-stop(50%,#17e4e6),
    color-stop(75%,#7fbf00),
    color-stop(100%,#f66924)
  );
  outline:none;
  }

  #temperature::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white;
   
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
  /*-webkit-appearance: none !important; */ 
}

#sky {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#14171e),
    color-stop(25%,#6a89a2),
    color-stop(50%,#9cd4ed),
    color-stop(75%,#6a89a2),
    color-stop(100%,#14171e)
  );
  outline:none;
  }

  #sky::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#windSpeed {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#bbeff1),
    color-stop(100%,#092041)
  );
  outline:none;
  }

  #windSpeed::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#windDirection {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#c4c4c4),
    color-stop(50%,#f2f2f2),
    color-stop(100%,#c4c4c4)
  );
  outline:none;
  }

  #windDirection::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#cloud {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#c6d5e8),
    color-stop(50%,#90badd),
    color-stop(100%,#c6d5e8)
  );
  outline:none;
  }

  #cloud::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#rain {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#95ebee),
    color-stop(100%,#345fa1)
  );
  outline:none;
  }

  #rain::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#snow {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#d3d3d3),
    color-stop(100%,#ffffff)
  );
  outline:none;
  }

  #snow::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}

#star {
  width: 250px;
  height: 6px;
  background: rgba(60, 114, 230, .8);
  /*border: 1px solid #999999;*/
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 0px;
  -webkit-appearance: none !important;
  background: 
  -webkit-gradient(
    linear,
    left top,
    right top,
    color-stop(0%,#02000d),
    color-stop(100%,#ffffff)
  );
  outline:none;
  }

  #star::-webkit-slider-thumb{
  -webkit-appearance: none !important;
  width: 25px;
  height: 18px; 
  background: white; 
  border: 0px solid #000;
  -webkit-box-shadow: 0 0 1px #000;
  -webkit-border-radius: 20px;
}


@CHARSET "UTF-8";
.sbHolder{
  text-transform: uppercase; 
  background-color: #ffffff;
  border: solid 1px #515151;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: normal;
  height: 30px;
  position: relative;
  width: 250px;
}
.sbHolder:focus .sbSelector{
  
}
.sbSelector{
  display: block;
  height: 30px;
  left: 0;
  line-height: 30px;
  outline: none;
  overflow: hidden;
  position: absolute;
  text-indent: 10px;
  top: 0;
  width:250px;
}
.sbSelector:link, .sbSelector:visited, .sbSelector:hover{
  color: #000000;
  outline: none;
  text-decoration: none;
}
.sbToggle{
  background: url(select-icons2.png) 0 -116px no-repeat;
  display: block;
  height: 30px;
  outline: none;
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
}
.sbToggle:hover{
  background: url(select-icons2.png) 0 -167px no-repeat;
}
.sbToggleOpen{
  background: url(select-icons2.png) 0 -16px no-repeat;
}
.sbToggleOpen:hover{
  background: url(select-icons2.png) 0 -66px no-repeat;
}
.sbHolderDisabled{
  background-color: #3C3C3C;
  border: solid 1px #515151;
}
.sbHolderDisabled .sbHolder{
  
}
.sbHolderDisabled .sbToggle{
  
}
.sbOptions{
  background-color: #ffffff;
  border: solid 1px #515151;
  list-style: none;
  left: -1px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 30px;
  width: 220px;
  z-index: 1;
  overflow-y: auto;
}
.sbOptions li{
  padding: 0 7px;
}
.sbOptions a{
  border-bottom: dotted 1px #000000;
  display: block;
  outline: none;
  padding: 7px 0 7px 3px;
}
.sbOptions a:link, .sbOptions a:visited{
  color: #c9c9c9;
  text-decoration: none;
}
.sbOptions a:hover,
.sbOptions a:focus,
.sbOptions a.sbFocus{
  color: #000000;
}
.sbOptions li.last a{
  border-bottom: none;
}
.sbOptions .sbDisabled{
  border-bottom: dotted 1px #515151;
  color: #999;
  display: block;
  padding: 7px 0 7px 3px;
}
.sbOptions .sbGroup{
  border-bottom: dotted 1px #515151;
  color: #767676;
  display: block;
/*  font-weight: bold;*/
  padding: 7px 0 7px 3px;
}
.sbOptions .sbSub{
  padding-left: 17px;
}