/**
 * Note: most of the styling for the reference documentation is actually
 * contained in the p5.js-website repository:
 *
 * https://github.com/processing/p5.js-website/blob/master/css/main.css
 *
 * However, some of it is located here so we can easily iterate on it
 * in the same repository.
 */

#reference .params table p {
  /* Recently-added support for Markdown means that every parameter
   * description is wrapped in a paragraph element. (Previously, they weren't
   * wrapped in any kind of element.)
   *
   * We may eventually want to display paragraphs as blocks, so that we
   * can have lengthy descriptions for parameters, but for now we'll
   * keep our pre-existing behavior and essentially make paragraphs
   * "invisible" by rendering them inline. */
  display: inline;

  font-size: inherit;
}

#reference .params table tr:nth-child(even) {
  background-color: rgba(69,142,209,.08);
}

#reference .params table td {
  padding: 0.4em;
}

#reference .params table :not(pre)>code[class*=language-] {
  padding: 0 .3em .05em .3em;
  display: inline-block;
  margin-bottom: 2px;
}

#reference .params .param-type {

}

#reference .param-optional {
  color: #AFAFAF;
}