


@font-face {
    font-family: 'action_manregular';
    src: url('action_man-webfont.eot');
    src: url('action_man-webfont.eot?#iefix') format('embedded-opentype'),
         url('action_man-webfont.woff') format('woff'),
         url('action_man-webfont.ttf') format('truetype'),
         url('action_man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'silom';
    src: url('silom-webfont.eot');
    src: url('silom-webfont.eot?#iefix') format('embedded-opentype'),
         url('silom-webfont.woff') format('woff'),
         url('silom-webfont.ttf') format('truetype'),
         url('silom-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

