.page-header {
  font-size: 0;
  margin: 10px 0;
  
  h1 {
    font-size: 28px;
    display: inline-block;
    width: 75%
  }
  small {
    font-size: 13px;
  }
  .right-header {
    display: inline-block;
    width: 25%
  }
}