/*Colors by area*/
$backgroundColor: #FFF;
$mainTextColor: #333;
$footerTextColor: #999;

/*Colors by element*/
$codeNeutralColor: #666;
$codeInactiveColor: #999;
$codeEasyColor: #35ac00;
$codeAttentionColor: #ff6600;
$codeDangerColor: #FF0000;
$codeImportantColor: #0096FF;