@font-face {
  font-family: 'theSerifItalic';
  src: url(http://processing.org/css/fonts/TheSerif_B4_Italic.eot),
     url(http://processing.org/css/fonts/TheSerif_B4_Italic.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'theSerif';
  src: url(http://processing.org/css/fonts/TheSerif_B4_Plain_.eot),
     url(http://processing.org/css/fonts/TheSerif_B4_Plain_.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'theSerif';
  src: url(http://processing.org/css/fonts/TheSerif_B4_Bold_.eot),
     url(http://processing.org/css/fonts/TheSerif_B4_Bold_.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Enriqueta';
  src: url(/css/fonts/Enriqueta-Regular-webfont.eot),
     url(/css/fonts/Enriqueta-Regular-webfont.woff) format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Enriqueta';
  src: url(/css/fonts/Enriqueta-Bold-webfont.eot),
     url(/css/fonts/Enriqueta-Bold-webfont.woff) format("woff");
  font-weight: 800;
  font-style: normal;
}

/* processingLibs style by andreas schlegel, sojamo. */


* {
  margin:0;
  padding:0;
  border:0;
}


body {
  font-family : 'theSerif', 'Enriqueta', georgia, times, serif;
  font-size : 100%; 
  font-size : 0.80em;
  font-weight : normal;
  line-height : normal;
}

.section {
  padding-bottom: 30px;
}

#container {
  margin-left:64px;
  padding-bottom: 18px;
  background-color:#fff;
}

#header {
  float:left;
  padding-top:48px;
  padding-bottom:48px;
}

#menu {
  margin-top:16px;
  float:left;
  margin-bottom:64px;
}



#about,
#download,
#started,
#tutorials,
#demos,
#misc,
#menu {
  width:480px;
  float:left;
}


#left {
  width: 480px;
  float: left;
  margin-right: 24px;
}

#right {
  width: 480px;
  float:left;
}


#resources, #info {
  width:320px;
  float:left;
}


.clear {
  clear:both;
}

#footer {
  margin-top:300px;
  height:20px;
  margin-bottom:32px;
}


ul {
  list-style:none;
  padding:0;
  margin:0;
}

#tutorials li {
  padding-bottom: 10px;
}

#menu ul li, #subMenu ul li {
  float:left;
  padding-right:6px; 
}

#menu ul {
  padding-top: 10px;
}






/* Headings */

h1 {
  font-size:2em;
  font-weight:normal;
}


h2, h3, h4, h5, th {
  font-size:1.3em;
  font-weight:normal;
  margin-bottom:4px;
}



p { 
  font-size:1em;
  width:90%;
  margin:15px 0;
}


pre, code {  
  font-family:"Courier New", Courier, monospace; 
  font-size:1em; 
  line-height:normal;
}




hr {
  border:0;
  height:1px;
  margin-bottom:24px;
}


a {
  text-decoration: none;
  font-weight: normal;
  color: #2c7bb5;
}




img {
  border: 0px solid #000000;
  padding: 5px 0;
}





/* COLORS */


body {
  color : #333;
  background-color :#fff;
}


#header {
  background-color:#fff;
  color:#333;
}



h1, h2, h3, h4, h5, h6 {
  color:#666;
}


pre, code {  
  color: #000000;
}



